#navbar{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#nlogo{
    text-align: left;
    width: 60%;
}
#navchild{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
#navchild button{
    border: 1px solid blue;
    color: blue;
    padding: 4px;
    border-radius: 2px;
}
